{% set title = 'Register' %}
{% set page = 'auth-register.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>RinStore</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">



  <!-- Template CSS -->
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/components.css') }}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css') }}">
  <!-- <link rel="stylesheet" href="{{ url_for ('static', filename='assets/css/bootstrap.min.css') }}"> -->
</head>

<body>

{% block content_2 %}
    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="login-brand">
              <img src="../assets/img/rinstore-fill.svg" alt="logo" width="100" class="shadow-light rounded-circle">
            </div>

            <div class="card card-primary">
              <div class="card-header"><h4>Register</h4></div>

              <div class="card-body">
                {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endif %}
                <form method="POST" action="{{ url_for('auth.register') }}" class="needs-validation" novalidate="">
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input id="username" type="text" class="form-control" name="username" tabindex="1" required autofocus>
                    <div class="invalid-feedback">
                      Please fill in your username
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="d-block">
                    	<label for="password" class="control-label">Password</label>
                    </div>
                    <input id="password" type="password" class="form-control" name="password" tabindex="2" required>
                    <div class="invalid-feedback">
                      please fill in your password
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="d-block">
                    	<label for="confirm_password" class="control-label">Confirm Password</label>
                    </div>
                    <input id="confirm_password" type="password" class="form-control" name="confirm_password" tabindex="3" required>
                    <div class="invalid-feedback">
                      please confirm your password
                    </div>
                  </div>

                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                      Register
                    </button>
                  </div>
                </form>
            </div>
                    <p class="text-center">Already have an account? <a href="{{ url_for('auth.login') }}">Login here</a></p>
            <div class="simple-footer text-center">
              Copyright &copy; RinStore 2025
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}

  <!-- General JS Scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="{{ url_for ('static', filename='js/rinstore.js') }}"></script>


  <!-- Template JS File -->
  <script src="{{ url_for ('static', filename='js/scripts.js') }}"></script>
  <script src="{{ url_for ('static', filename='js/custom.js') }}"></script>

  <!-- Page Specific JS File -->
  <!-- <script src="{{ url_for ('static', filename='assets/js/page/index-0.js') }}"></script> -->
  <!-- <script src="{{ url_for ('static', filename='assets/js/page/bootstrap.modal.js') }}"></script> -->
  <!-- <script src="{{ url_for ('static', filename='assets/js/jquery.js') }}"></script> -->
  <!-- <script src="{{ url_for ('static', filename='assets/js/bootstrap.min.js') }}"></script> -->
</body>

</html>
